<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>999389577991-n8jdig6opj5i61drq4v2c8huuodnan77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999389577991-n8jdig6opj5i61drq4v2c8huuodnan77</string>
	<key>API_KEY</key>
	<string>AIzaSyBU3SMCKgwMFuDMaiWLTFf3ePxgjDLcrFk</string>
	<key>GCM_SENDER_ID</key>
	<string>999389577991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eudelesperance.Wave</string>
	<key>PROJECT_ID</key>
	<string>wave-873fd</string>
	<key>STORAGE_BUCKET</key>
	<string>wave-873fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:999389577991:ios:5f93b907179bd23d</string>
	<key>DATABASE_URL</key>
	<string>https://wave-873fd.firebaseio.com</string>
</dict>
</plist>